@charset "utf-8";
/* CSS Document */
h1, p, body, html {
	margin:0;
	padding:0;
	}
#head{
	background-image:url(image/PSED%20head.jpg);
	width:1024px;
	height:143px;
	margin:auto;
	}
#logo{
	width:880px;
	height:143px;
	}
.logo{
	float:left;
	font-family:Norma;
	font-size:40pt;
	color:#FFF;
	padding-top:60px;
	padding-left:90px;
	letter-spacing:15px;	
	}
#logonext{
	width:880px;
	height:143px;
	position:absolute;
	margin-left:175px;
	margin-top:-40px;
	}
.logonext{
	font-family:Norma;
	font-size:23pt;
	color:#FFF;
	letter-spacing:1px;	
	}
#menu{
	width:300px;
	height:25px;
	position:absolute;
	margin-left:725px;
	margin-top:52px;
	}
#menu ul li{
	display:inline;
	color:#FFF;
	font-size:16px;
	}
#menu ul li a{
	font-family:Myriad Pro;
	text-decoration:none;
	color:#FFF;
	font-size:12px;
	}
#menu ul li a:hover{
	color:#3189AD;
	}
 
#body{
	width:1120px;
	height:743px;
	margin:auto;
	}
.slideshow{
		width:500px;
		list-style: none;
		position:relative;
		margin-top:-15px;
	}
ul.slideshow li {
		position:absolute;
		left:1px;
		top:-1px;
		display:inline;
	}
#letter{
	width:512px;
	margin:auto;
	z-index:600;
	position:absolute;
	margin-top:-90px;
	margin-left:250px;
	}
.letter{
	font-size:60px;
	color:#000;
	}
#dropdown{
	visibility:hidden;
 	position:absolute;
	margin-top:-30px;
	margin-left:140px;
	width:950px;
	height:630px;
	}

#linkin a {
    color: #0F92CA;
    padding-left: 65px;
    text-decoration: none;
}

.Partners {
    color: #0F92CA;
    font-size: 23px;
}

.Partners2 {
    color: #0F92CA;
    font-size: 23px;
    padding-left: 80px;
}

.letterin {
    color: #0F92CA;
    font-size: 19px;
}
/*#underline2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px;
    color: #94A0A5;
    margin-left: 575px;
    margin-top: 220px;
    position: absolute;
    width: 67px;
}

#underline {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px;
    color: #94A0A5;
    margin-left: 785px;
    margin-top: 220px;
    position: absolute;
    width: 65px;
}*/
.psed{
	background-color:#EEEEEE;
}
.service{
	background-color:#FFF;
}
#linkin {
    margin-top: 20px;
}
#linkin a:hover{
	text-decoration:underline;
}