/* buy strip
------------------------*/
#buystrip { margin:0 auto; width:980px; padding:36px 0 0; font-size:14px; line-height:1.4em; word-spacing:-1px; zoom:1; }

#buystrip .grid4col { margin:0 auto; width:980px; }
#buystrip .grid4col .column { position:relative; margin:0; padding-bottom:25px; width:245px; min-height:200px; _height:200px; text-align:center; }
#buystrip .grid4col .column h2 { margin-bottom:18px; }
#buystrip .grid4col .column h2 img { display:block; margin:0 auto; }
#buystrip .grid4col .column p { display:block; margin:0 auto; width:190px; font-size:0.8571em; line-height:1.4166em; color:#666; }
#buystrip .grid4col .column a:hover { text-decoration:none; }
#buystrip .grid4col .column a:hover p { cursor:pointer; }
#buystrip .grid4col .column a:hover .more,
#buystrip .grid4col .column a:hover .bottom-align,
#buystrip .grid4col .column.first .bottom-align a:hover { text-decoration:underline; }
#buystrip .grid4col .column.first { padding-bottom:22px; }
#buystrip .grid4col .column.first li { display:block; margin:-4px 0 0; }
#buystrip .grid4col .column.first p { margin-bottom:9px; font-size:0.9em; }
#buystrip .grid4col .column.second p { width:170px; }
#buystrip .grid4col .column .bottom-align { position:absolute; width:100%; bottom:0; left:0; text-align:center; font-size:1.1429em; line-height:1.71; }
#buystrip .grid4col .column .bottom-align span.more { *padding-bottom:2px; }
#buystrip .grid4col .column.last .bottom-align { *margin-bottom:-3px; }

#buystrip .shop { width:980px; margin:4px auto 0; padding:18px 0 20px; font-size:0.7857em; text-align:center; }
#buystrip .shop img { *position:relative; *z-index:1; margin:0 6px -7px 0; }
#buystrip .shop .inline-block { display:inline-block; color:#333; cursor:pointer; white-space:nowrap; *position:relative; *display:inline; }
#buystrip .shop .inline-block.app-store { margin-right:50px; }
#buystrip .shop a:hover.inline-block { text-decoration:none; }
#buystrip .shop a:hover.inline-block .more { text-decoration:underline; }

/* page specific */
#buystrip .grid4col .column .compare h2 { margin-top:5px; margin-bottom:15px; }

#buystrip .grid4col .column .ipad-air h2 { margin-top:2px; margin-bottom:7px; }

#buystrip .grid4col .column .ipad-mini h2 { margin-top:2px; margin-bottom:5px; }
#buystrip .grid4col .column .ipad-mini p { margin-bottom:6px; }

#buystrip .grid4col .column .compare .bottom-align,
#buystrip .grid4col .column .ipad-air .bottom-align,
#buystrip .grid4col .column .ipad-mini .bottom-align { bottom:-3px; *width:245px; }

#compare #buystrip .grid4col .column .compare h2 { margin-top:10px; margin-bottom:11px; }

.ipad-air #buystrip .grid4col .column.second p,
.ipad-air #buystrip .grid4col .column.third p { width:180px; }
.ipad-air #buystrip .grid4col .column.last p { width:186px; }

.ipad-mini #buystrip .grid4col .column.second p,
.ipad-mini #buystrip .grid4col .column.third p,
#specs.first-generation #buystrip .grid4col .column.second p,
#specs.first-generation #buystrip .grid4col .column.third p { width:170px; }

@media only screen and (max-device-width:768px) {
	#buystrip .grid4col .column.second p { width:160px; }
	#buystrip .grid4col .column.third p { width:170px; }
	#buystrip .grid4col .column.last p { width:180px; }
	
	.ipad-mini #buystrip .grid4col .column.second p,
	.ipad-mini #buystrip .grid4col .column.third p,
	#specs.first-generation #buystrip .grid4col .column.second p,
	#specs.first-generation #buystrip .grid4col .column.third p { width:160px; }
	.ipad-mini #buystrip .grid4col .column.last p,
	#specs.first-generation #buystrip .grid4col .column.last p { width:175px }
}
