#main { width:100%; min-width:982px; margin:0 auto; position:static; }
#main .content { width:580px; margin:0 auto 18px; padding:96px 200px; zoom:1; border:none;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
	-webkit-border-radius:0;
	   -moz-border-radius:0;
	        border-radius:0;
}
#main .content .content { width:auto; padding:0; }
.content:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; }

/* fonts */
.content { font-size:1.167em; line-height:1.4285em; word-spacing:-1px; } /* 14px/20px */

.content h1 img,
.content h2 img { display:block; margin:0; }

.content .title,
.content .title h1,
.content .title h2 { line-height:1.2142em; font-weight:normal; }

.content .title { font-size:2em; margin-bottom:10px; }


/* links */
.content a { cursor:pointer; }
