/* Page Specific */
body.specs .tech-specs .color .grid5col { width:709px; }
body.specs .tech-specs .color .grid5col .column { padding-left:14px; width:130px; }
body.specs .tech-specs .color .grid5col .column.first { padding-left:0; }
body.specs .tech-specs .color .grid5col .column.last { padding-left:12px; }
body.specs .tech-specs .color .grid5col .column img { margin-bottom:14px; }
body.specs .tech-specs .color .grid5col .column span { display:block; padding:0; color:#000; }

body.specs .tech-specs .dimensions .last .positioned .depth { top:43px; left:0; width:14px; height:3px; border:1px solid #a7a7a7; border-bottom:none; }
body.specs .tech-specs .dimensions .last .positioned .depth span { top:-40px; left:-24px; width:60px; }

body.specs .tech-specs .dimensions .last .positioned .width { top:43px; right:-1px; width:98px; height:3px; border:1px solid #a7a7a7; border-bottom:none; }
body.specs .tech-specs .dimensions .last .positioned .width span { top:-40px; right:-1px; width:98px; }

body.specs .tech-specs .dimensions .last .positioned .height { bottom:22px; left:54px; margin-bottom:0; width:7px; height:206px; border-top:1px solid #a7a7a7; border-bottom:1px solid #a7a7a7; }
body.specs .tech-specs .dimensions .last .positioned .height span { top:77px; left:-29px; z-index:2; width:70px; padding:8px 0; background:#fff; }
body.specs .tech-specs .dimensions .last .positioned .height .pipe { top:0; left:2px; z-index:1; width:1px; height:190px; border-right:1px solid #a7a7a7; }

body.specs .tech-specs .buttons-controls td.last { padding-top:20px; padding-bottom:5px; }
body.specs .tech-specs .buttons-controls .column h4 { font-weight:normal; }
body.specs .tech-specs .buttons-controls .small { line-height:1.3333em; }
body.specs .tech-specs .buttons-controls .positioned { margin-top:19px; }
body.specs .tech-specs .buttons-controls .positioned img { margin-top:40px; }
body.specs .tech-specs .buttons-controls .positioned ul { position:absolute; top:0; z-index:2; width:100%; height:100%; }
body.specs .tech-specs .buttons-controls .positioned li { position:absolute; z-index:1; width:1px; border-right:1px solid #a7a7a7; }
body.specs .tech-specs .buttons-controls .positioned span { position:absolute; z-index:1; display:block; width:100px; }

body.specs .tech-specs .buttons-controls .column.first .wake { top:34px; left:95px; height:14px; }
body.specs .tech-specs .buttons-controls .column.first .wake span { top:-38px; left:-34px; }

body.specs .tech-specs .buttons-controls .column.first .ring span,
body.specs .tech-specs .buttons-controls .column.first .volume span,
body.specs .tech-specs .buttons-controls .column.first .home span { bottom:-21px; }

body.specs .tech-specs .buttons-controls .column.first .ring { top:114px; left:48px; height:104px; }
body.specs .tech-specs .buttons-controls .column.first .ring span { left:-11px; }

body.specs .tech-specs .buttons-controls .column.first .volume { top:127px; left:68px; height:70px; }
body.specs .tech-specs .buttons-controls .column.first .volume span { left:-11px; }

body.specs .tech-specs .buttons-controls .column.first .home { top:162px; right:109px; height:58px; }
body.specs .tech-specs .buttons-controls .column.first .home span { left:-11px; }

body.specs .tech-specs .buttons-controls .column.last { margin-right:8px; }
body.specs .tech-specs .buttons-controls .column.last h4 { margin-left:24px; }
body.specs .tech-specs .buttons-controls .column.last .positioned img { margin-left:25px; }
body.specs .tech-specs .buttons-controls .column.last .headphones { top:78px; left:44px; height:18px; }
body.specs .tech-specs .buttons-controls .column.last .headphones span { top:-38px; left:-21px; width:160px; }

body.specs .tech-specs .buttons-controls .column.last .microphone { top:122px; left:54px; height:18px; }
body.specs .tech-specs .buttons-controls .column.last .microphone span { bottom:-21px; left:-54px; width:160px; }

body.specs .tech-specs .buttons-controls .column.last .lightning { top:122px; left:85px; height:65px; }
body.specs .tech-specs .buttons-controls .column.last .lightning span { bottom:-37px; left:-22px; width:100px; }

body.specs .tech-specs .buttons-controls .column.last .speaker { top:122px; left:120px; height:18px; }
body.specs .tech-specs .buttons-controls .column.last .speaker span { bottom:-21px; left:-10px; width:100px; }

body.specs .tech-specs .buttons-controls .column.last .wake { top:78px; right:142px; height:18px; }
body.specs .tech-specs .buttons-controls .column.last .wake span { top:-38px; left:-28px; width:160px; }

body.specs .tech-specs .in-the-box img.right { margin:0 152px 18px 0 }

body.specs .tech-specs .os ul { margin-top:5px; padding-left:18px; width:215px; }
body.specs .tech-specs .os h4 { margin:9px 0 1px; }
body.specs .tech-specs .os .grid3col { padding-left:94px; }
body.specs .tech-specs .os .grid3col .column { margin-left:0; }
