/* store page */
#store-page .content { margin:0 0 12px; font-size:1.1em; padding:10px 10px 10px 26px; }
#store-page header.hero { _padding-top:10px; }
#store-page .hero.content { padding-bottom:0px; }
#store-page .hero .store-summary { overflow:hidden; height:375px; _padding-left:22px; }

#store-page .content .bottom-extension { height:44px; text-align:center; font-weight:bold; font-size:14px; border-top:1px solid #ccc; background:rgb(234,234,234);
	background:-moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(234,234,234,1) 41%, rgba(214,214,214,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(41%,rgba(234,234,234,1)), color-stop(100%,rgba(214,214,214,1)));
	background:-webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(234,234,234,1) 41%,rgba(214,214,214,1) 100%);
	background:-o-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(234,234,234,1) 41%,rgba(214,214,214,1) 100%);
	background:-ms-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(234,234,234,1) 41%,rgba(214,214,214,1) 100%);
	background:linear-gradient(top, rgba(234,234,234,1) 0%,rgba(234,234,234,1) 41%,rgba(214,214,214,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d6d6d6',GradientType=0 );
}

#store-page .hero .store-summary .mapSwap { min-height:375px; width:945px; margin-top:-106px; clear:both; _position:relative; }
#store-page .hero .store-summary .mapSwap .maphere { width:564px; height:376px; z-index:1005; }
#store-page .hero .store-summary .mapSwap .column.first { margin:106px 0 10px; }
#store-page .hero .store-summary .mapSwap .column.last { position:relative; }
#store-page .hero .store-summary .mapSwap .column.last > img { display:block; }
#store-page .hero .store-summary .mapSwap > .column.last { width:564px; height:376px; overflow:hidden; }
#store-page .hero .store-summary .mapSwap .column.last { _width:564px; _height:376px; _overflow:hidden; }
#store-page .hero .store-summary .mapSwap .map-overlay-box .column.last { _width:auto; _height:auto; _overflow:visible; }
#store-page .hero .store-summary .mapSwap .coming-soon { position:relative; z-index:5; margin-top:-69px; height:40px; width:528px; padding:12px 18px 16px; background:rgb(0,0,0); background:rgba(0,0,0,.75); overflow:hidden; _margin-top:-72px; }
#store-page .hero .store-summary .mapSwap .coming-soon h1 { color:#fff; margin:0; line-height:1em; }
#store-page .hero .store-summary .mapSwap .coming-soon h2{ color:#b3b3b3; font-weight:normal; margin:0; line-height:20px; }
#store-page .hero .store-summary .store-info { padding:8px 0; }
#store-page .hero .store-summary dl.store-info { width:300px; overflow:auto; }
#store-page .hero .store-summary .store-info dd { font-weight:normal; width:45%; float:left; }
#store-page .hero .store-summary .store-info dd.hours { width:55%; color:#666; }
#store-page .hero .store-summary table.store-info { margin:12px 0; max-width:350px; }
#store-page .hero .store-summary .store-info tr td { font-weight:normal; padding:0 15px 0 0; }
#store-page .hero .store-summary .store-info tr td.hours { color:#666; padding:0; }
#store-page .hero .store-summary .store-directions { font-weight:normal; width:338px; max-height:210px; overflow:hidden; }
#store-page a.more.small, #store-page span.more.small { font-size:.94em; *font-size:1em; _top:305px; }

#store-page .holiday-hours-link { display:block; float:left; margin-top:5px; margin-left:1px; padding:0 20px 0 58px; font-size:12px; line-height:42px; border-radius:4px; border:1px solid #ccc; box-shadow:0 0 2px #ccc; background:#fefefe url(../../../../../retail/images/icon_holiday_hours.png) 14px center no-repeat; background-size:28px; }

#store-page .nav.hero-nav { overflow:hidden; width:980px; *width:978px; margin:10px -26px 0; _margin:10px 0px 0; background-color:#E8E8E8; box-shadow:inset 0 8px 4px -5px #CCC; }
#store-page .nav.hero-nav .column { width:302px; min-height:139px; padding:11px 0 9px 17px; }
#store-page .nav.hero-nav .column.first { padding-left:28px; }
#store-page .nav.hero-nav .column.last { padding-left:27px; background:url(../images/nav-separator.png) left bottom no-repeat; _background:url(http://images.apple.com/v/retail/store/a/images/nav-separator.png) left 20px no-repeat;}
#store-page .nav.hero-nav h1 { line-height:28px; margin:5px 0 0 0; font-size:1.2em; font-weight:normal; _width:250px; }
#store-page .nav.hero-nav a.retail-store-app p { margin:9px 30px 2px 0; height:76px; padding-left:80px; color:#333; overflow:hidden; background-repeat:no-repeat; background-position:1px 1px; }

#store-page .nav-button-border { display:block; float:left; width:134px; height:75px; margin:0 12px 2px -5px; _margin:0 8px 2px -5px; padding:5px; padding:3px 5px 5px 3px\9; border-radius:8px; }
#store-page .nav-button-border:hover {
	background:#afdcee;
	background:-moz-linear-gradient(top, rgba(111,200,236,0.5) 0%, rgba(0,145,237,0.5) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,200,236,0.5)), color-stop(100%,rgba(0,145,237,0.5)));
	background:-webkit-linear-gradient(top, rgba(111,200,236,0.5) 0%,rgba(0,145,237,0.5) 100%);
	background:-o-linear-gradient(top, rgba(111,200,236,0.5) 0%,rgba(0,145,237,0.5) 100%);
	background:-ms-linear-gradient(top, rgba(111,200,236,0.5) 0%,rgba(0,145,237,0.5) 100%);
	background:linear-gradient(top, rgba(111,200,236,0.5) 0%,rgba(0,145,237,0.5) 100%); }
#store-page .nav-button-border:hover .nav-button { box-shadow:0 0px 2px #999; }
#store-page .nav-button { width:100%; height:100%; line-height:71px; text-align:center; font-size:1em; color:#333; border:1px solid #ccc\9; border-radius:4px; background-color:#f8f8f8;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#f0f0f0));
	background:-moz-linear-gradient(top, #fefefe 0%, #f0f0f0 100%);
	box-shadow:0 1px 2px #999, 0 6px 4px -5px #999; }
#store-page .nav-button img { vertical-align:middle; _margin-top:25px; }
#store-page .first .nav-button img,
#store-page .last .nav-button img { _margin-top:10px; }
#store-page.retail .nav.hero-search { *z-index:1011; overflow:visible; position:relative; width:933px; *width:930px; height:23px; padding:14px 19px 13px 30px; }

#store-page.retail .nav.hero-search .select .selection,
#store-page.retail .nav.hero-search .select .menu { font-size:0.85em; }

/* store page paddles */
#store-page .paddle-nav li .arrow { margin:46px 0; }
#store-page .paddle-nav li .arrow b { margin:81px 0; }

/* store page promos */
#store-page .content.promo { padding:0; }
#store-page .promo .gallery { _width:980px; position:relative; overflow:hidden; z-index:1004; }
#store-page .promo .gallery-view { *z-index:1005; width:2000px; height:300px; }
#store-page .promo .promo-container { width:980px; float:left; }
#store-page .promo .promo-container .column { width:243px; min-height:334px; border-left:2px solid #eaeaea; *position:relative; _height:334px; }
#store-page .promo .promo-container .column.first { border-left:0; width:244px; }
#store-page .promo .promo-container .column.last { width:244px; }
#store-page .promo .promo-container .column h1 { font-size:1em; line-height:1.3em; }

#store-page .promo.interactive .bottom-extension { height:29px; }
#store-page .promo.interactive .dot-nav { display:inline-block; padding:9px 0 0 2px; }

#store-page .promo.interactive .promo-container .column h1,
#store-page .promo.interactive .promo-container .column p,
#store-page .promo.interactive .promo-container .column a.more,
#store-page .promo.interactive .promo-container .column .reservation-full { margin:0 16px 0; }

/* iPad margins */
@media only screen and (max-device-width:768px) {
#store-page .promo.interactive .promo-container .column h1,
#store-page .promo.interactive .promo-container .column p,
#store-page .promo.interactive .promo-container .column a.more,
#store-page .promo.interactive .promo-container .column .reservation-full { margin:0 13px 0; }
}

#store-page .promo.interactive .promo-container .column img { display:block; margin:7px auto 15px; }
#store-page .promo.interactive .promo-container .column p a.more { position:static; bottom:0; margin:0 0 0 2px; }
#store-page .promo.interactive .promo-container .column a.more { position:absolute; bottom:12px; }
#store-page .promo.interactive .promo-container .gradient { background-color:#f5f5f5; background:-webkit-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%); }
#store-page .promo.interactive .promo-container .column.first .gradient,
#store-page .promo.interactive .promo-container .column.first.gradient { border-radius:5px 0 0 5px; }
#store-page .promo.interactive .promo-container .column.last .gradient,
#store-page .promo.interactive .promo-container .column.last.gradient { border-radius:0 5px 5px 0; }

#store-page .promo.interactive .promo-container .column { -webkit-perspective:800; }
#store-page .promo .promo-container .column p { margin-bottom:5px; }
#store-page .promo .promo-container .column p span.date { display:block; margin:8px 0;}
#store-page .promo .promo-container .column p span.wrap-heading { color:#000; font-weight:bold; }
#store-page .promo .promo-container .column.double { width:487px; }

#store-page .promo.static { overflow:hidden; }
#store-page .promo.static .promo-container { background-color:#fcfcfc; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#f0f0f0)); background:-moz-linear-gradient(top, #fcfcfc 0%, #f0f0f0 100%); }
#store-page .promo.static .promo-container .column { position:relative; height:315px; width:195px; padding:20px 24px 0; font-size:12px; }
#store-page .promo.static .promo-container .column:hover { background-color:#fff; }
#store-page .promo.static .promo-container .column.first:hover { border-radius:4px 0 0 4px; }
#store-page .promo.static .promo-container .column.last:hover { border-radius:0 4px 4px 0; }
#store-page .promo.static .promo-container .column h1 { font-size:1.34em; font-weight:normal; margin-bottom:10px; }
#store-page .promo.static .promo-container .column p { margin:0; color:#333; }
#store-page .promo.static .promo-container .column .bottom { position:absolute; *position:static; bottom:18px; *bottom:0; z-index:3; }
#store-page .promo.static .promo-container .column .bottom img { *position:absolute; *bottom:16px; }

/* store page promo flip */
#store-page .promo .flip { position:absolute; height:100%; width:243px; top:0; -webkit-transform-style:preserve-3d; -webkit-transition:.7s ease-out; -moz-transition:.4s ease-out; transition:.4s ease-out; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; backface-visibility:hidden; }
#store-page .promo .front { z-index:1005; -webkit-transform:rotateY(0deg); zoom:1; }
#store-page .promo .flipped .front { z-index:1004; -webkit-transform:rotateY(180deg) scale(0.65); }
#store-page .promo .back { visibility:hidden; border:0; height:100%; z-index:1004; -webkit-transform:rotateY(180deg) scale(0.65); padding:0; }
#store-page .promo .back > :first-child { padding-top:20px; }
#store-page .promo .flipped .back{ visibility:visible; z-index:1005; -webkit-transform:rotateY(360deg); }

/* store page promo store-event */
#store-page .promo.interactive .column { position:relative; z-index:1; }
#store-page .promo.interactive .store-event .back .small.learn-more { position:static; display:block; float:left; margin-top:8px; }
#store-page .promo.interactive .store-event .back .small.learn-more.reservation-full { font-weight:bold; color:#666; }
#store-page .promo.interactive .store-event .back .clear { clear:both; }
#store-page .promo.interactive .promo-container .column a.more { left:0; }

/* store page calendar */
#store-page .calendar.content { padding:0; }
#store-page .calendar { width:980px; width:977px\9; _width:980px; padding:0; z-index:3; }
#store-page .calendar .cal-header { padding:18px 23px 15px 7px; z-index:3;
	background:rgb(242,242,242);
	background:-moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 45%, rgba(229,229,229,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(45%,rgba(242,242,242,1)), color-stop(100%,rgba(229,229,229,1)));
	background:-webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 45%,rgba(229,229,229,1) 100%);
	background:-o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 45%,rgba(229,229,229,1) 100%);
	background:-ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 45%,rgba(229,229,229,1) 100%);
	background:linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 45%,rgba(229,229,229,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 );
}
#store-page .calendar .cal-header h2 { float:left; text-align:left; margin:4px 0 0; padding-left:23px; font-weight:normal; line-height:19px; }
#store-page .calendar .cal-header .select .selection { min-width:100px; font-size:0.9em; }
#store-page .calendar .date { margin-bottom:0; padding:13px 25px; font-size:15px; color:#fff; border-bottom:1px solid #929090; border-top:1px solid #929090;
	background:rgb(158,158,158);
	background:-moz-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(158,158,158,1) 35%, rgba(141,141,141,1) 70%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,158,158,1)), color-stop(35%,rgba(158,158,158,1)), color-stop(70%,rgba(141,141,141,1)));
	background:-webkit-linear-gradient(top, rgba(158,158,158,1) 0%,rgba(158,158,158,1) 35%,rgba(141,141,141,1) 70%);
	background:-o-linear-gradient(top, rgba(158,158,158,1) 0%,rgba(158,158,158,1) 35%,rgba(141,141,141,1) 70%);
	background:-ms-linear-gradient(top, rgba(158,158,158,1) 0%,rgba(158,158,158,1) 35%,rgba(141,141,141,1) 70%);
	background:linear-gradient(top, rgba(158,158,158,1) 0%,rgba(158,158,158,1) 35%,rgba(141,141,141,1) 70%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#8d8d8d',GradientType=0 );
}
#store-page .calendar .view ul { overflow:hidden; }
#store-page .calendar .view li { background:#fff; float:left; width:980px; list-style:none; display:inline-block; padding-bottom:12px; min-height:89px; }
#store-page .calendar .view li.odd { background:#efefef; }
#store-page .calendar .view li div { float:left; padding-top:30px; }
#store-page .calendar .view li div.description { padding-top:22px; }
#store-page .calendar .view h3 { font-size:14px; color:#333; font-weight:normal; margin-bottom:2px; }
#store-page .calendar .view p { margin-bottom:0; font-size:12px; color:#666; }

#store-page .calendar .time { margin-top:9px; width:190px; text-align:center; font-size:14px; font-weight:bold; color:#666; }
#store-page .calendar .icon { width:118px; text-align:center; }
#store-page .calendar .icon img { margin-top:-3px; }
#store-page .calendar .icon img.jointventure-icon { margin-top:13px; }
#store-page .calendar .description { width:485px; padding:0 21px; }
#store-page .calendar .button { width:140px; }
#store-page .calendar .button a { display:block; width:121px; margin:13px 0 0 7px; padding:4px 0; color:#fff; text-align:center; font-size:14px; font-weight:bold; text-decoration:none;
	box-shadow:inset 0 1px 0 rgba(0, 0, 0, .25);
	border-radius:4px;
	background:#7bf;
	background:rgb(83,169,232);
	background:-moz-linear-gradient(top, rgba(83,169,232,1) 0%, rgba(46,118,206,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,169,232,1)), color-stop(100%,rgba(46,118,206,1)));
	background:-webkit-linear-gradient(top, rgba(83,169,232,1) 0%,rgba(46,118,206,1) 100%);
	background:-o-linear-gradient(top, rgba(83,169,232,1) 0%,rgba(46,118,206,1) 100%);
	background:-ms-linear-gradient(top, rgba(83,169,232,1) 0%,rgba(46,118,206,1) 100%);
	background:linear-gradient(top, rgba(83,169,232,1) 0%,rgba(46,118,206,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#53a9e8', endColorstr='#2e76ce',GradientType=0 );
}
#store-page .calendar .button a:hover {
	background:#277ed5;
	background:-moz-linear-gradient(top, rgba(57,151,226,1) 0%,rgba(30,105,203,1) 100%);
	background:-webkit-linear-gradient(top, rgba(57,151,226,1) 0%,rgba(30,105,203,1) 100%);
	background:-o-linear-gradient(top, rgba(57,151,226,1) 0%,rgba(30,105,203,1) 100%);
	background:-ms-linear-gradient(top, rgba(57,151,226,1) 0%,rgba(30,105,203,1) 100%);
	background:linear-gradient(top, rgba(57,151,226,1) 0%,rgba(30,105,203,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3996e2', endColorstr='#1e69cb',GradientType=0 );
}
#store-page .calendar .button .full { display:none; }
#store-page .calendar .view .button .hide { display:none; }
#store-page .calendar .view .button div.message.full { display:table-cell; *display:block; float:none; width:82px; width:80px\9; *width:77px; height:44px; padding:0 0 0 26px; font-size:1.023em; text-align:center; color:#636262; vertical-align:middle; }
@-moz-document url-prefix() {
	#store-page .calendar .view .button .message.full { width:80px; }
}

/*global searchbox ff, ie rules*/

#store-page .calendar .load-more a { display:block; cursor:pointer; padding:14px 0; *padding:13px 0 14px; }
#store-page .calendar .load-more a.disabled { *display:none; opacity:0; cursor:default; }
#store-page .calendar.loading { text-align:center; }
#store-page .calendar .spinner { padding:25px 0; }
#store-page .calendar .no-results { display:none; text-align:center; }
#store-page .calendar .no-results h2 { margin:0; padding:40px 0 35px 0; color:#666; font-weight:normal; }
#store-page .calendar .no-results.show { display:block; }
#store-page .calendar a.more { background-image:url(../../../../../global/elements/arrows/downarrow_08c.gif) }
#store-page .global-retail-search-dropdown ul li { _width:178px; }

#store-page .nav.hero-search span.reset.active { left:94.5%; }
#store-page #breadory .find-store .grid3col .first .active { *top:7px;}


@media only screen and (max-device-width:768px) {
	#store-page input.global-retail-search { width:200px; }
	#store-page.retail .nav.hero-search { height:28px; }
	#store-page .nav.hero-search span.reset.active { left:94%; }
}
