
.slider-horizontal {width:1061px; background:white; height:200px;}
.slider-horizontal .item {height:300px; margin:20px 10px 0;}
.www_FlowSlider_com-branding{display:none;visibility:hidden;}
.slider-vertical {width:364px; margin:25px 0; float:left; background:#eee; height:300px;}
.slider-vertical .item {height:80px; width:324px; margin:10px 0 10px 20px;}

.item-1 {background:white;}
.item-2 {background:white;}
.item-3 {background:white;}
.item-4 {background:white;}
.item-5 {background:white;}
.item-6 {background:white;}
.item-7 {background:white;}
.item-8 {background:white;}
.item-9 {background:white;}
.item-10 {background:white;}


