#apps .content,
#apps #content { width:980px; margin:0 auto 30px; padding-top:40px; font-size:1.167em; line-height:1.4285; word-spacing:-1px; }

#apps .content .flushpad,
#apps .content .padright { padding-right:205px; }

#apps .content .flushpad,
#apps .content .padleft { padding-left:205px; }

#apps .content .flushpad,
#apps .content .flushright { margin-right:-205px; }

#apps .content .flushpad,
#apps .content .flushleft { margin-left:-205px; }

.content .center { display:block; margin-right:auto; margin-left:auto; text-align:center; }

#apps .big { font-size:1.7143em; *zoom:normal; *background-position:100% 60%; }
#apps .big.more { background-image:url(../../../../global/elements/arrows/morearrow_big_08c.gif); }

/* rows */
#apps .border-bottom { border-bottom:1px solid #ccc; }
#apps .row { padding:70px 0; *overflow:hidden; }
#apps .row h1 { zoom:1; margin:0px 0 2px; }
#apps .row h1:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; }
#apps .row h1 img { float:left; }
#apps .row .headline-icon { display:block; margin:0 auto; }
#apps .row > p { width:800px; margin:0 auto; text-align:left; line-height:1.6; }

#apps .row .row-hero { width:803px; margin:34px auto 0; }
#apps .row .row-hero p.caption { width:100%; padding:5px 0; text-align:center; color:#666; font-size:.85em; *zoom:1; }
#apps .row .row-hero .hardware { width:876px; height:468px; margin:0 -76px -23px -90px; _position:relative; _z-index:1; }
#apps .row .row-hero figure { *width:100%; *background-color:#fff; }
#apps .row .row-hero.gallery-view .gallery-content {  *padding-bottom:20px; }
#apps .row .row-hero.gallery-view .gallery-content figcaption { padding-bottom:40px; }

/* section-specific */
#apps #hero { padding-bottom:62px; border-bottom:1px solid #ccc; text-align:center; }
#apps #hero h1 { margin-bottom:15px; }
#apps #hero p.intro { margin:0 80px 23px; color:#404040; font-size:1.2em; line-height:1.6; }

#apps #mac-app-store h1 .title-image { margin-top:3px; }

#apps .content .row .gallery-default .gallery-view .gallery-content img { display:block; margin:0 auto; }
#apps .content .ibooks .gallery-default .gallery-view .gallery-ibooks-studying img { padding-left:1px; }
#apps .ibooks .gallery-ibooks-studying .pin.one { top:148px; padding-right:29px; }
#apps .ibooks .gallery-ibooks-studying .pin.two { top:361px; padding-left:18px; width:105px; }
#apps .content .ibooks .gallery-default .gallery-view .gallery-ibooks-multiple img { padding-left:1px; }
#apps .content .maps .gallery-default .gallery-view .gallery-maps-features img { padding-left:1px; }
#apps .content .maps .gallery-default .gallery-view .gallery-maps-flyover img { padding-left:1px; text-align:left; }
#apps .maps .gallery-maps-features .pin.one { top:60px; padding-right:412px; }
#apps .maps .gallery-maps-features .pin.two { top:283px; padding-left:253px; }
#apps .maps .gallery-maps-features .pin.three { top:60px; padding-left:176px; }
#apps .content .maps .gallery-default .gallery-view .gallery-maps-local img { padding-left:1px; }
#apps .calendar .gallery-calendar-week .pin.one { top:304px; padding-right:42px; }
#apps .calendar .gallery-calendar-week .pin.two { top:258px; padding-left:453px; }
#apps .calendar .gallery-calendar-inspector .pin.one { top:329px; padding-right:307px; }
#apps .calendar .gallery-calendar-inspector .pin.two { top:105px; padding-right:307px; }
#apps .calendar .gallery-calendar-inspector .pin.three { top:211px; padding-left:366px; }
#apps .calendar .gallery-calendar-inspector .pin.four { top:402px; padding-left:319px; }
#apps .calendar .gallery-calendar-month .pin.one { top:204px; padding-right:17px; }
#apps .calendar .gallery-calendar-month .pin.two { top:63px; padding-left:19px; }
#apps .safari .gallery-safari-sidebar .pin.one { top:70px; padding-right:19px; }
#apps .safari .gallery-safari-sidebar .pin.two { top:318px; padding-right:19px; }
#apps .safari .gallery-safari-sharedlinks .pin.one { top:139px; padding-right:21px; }
#apps .safari .gallery-safari-sharedlinks .pin.two { top:63px; padding-left:294px; }
#apps .content .mail .gallery-default .gallery-view .gallery-mail-overview img { padding-left:1px; }
#apps .content .mail .gallery-default .gallery-view .gallery-mail-conversations img { padding-left:1px; }
#apps .content .messages .gallery-default .gallery-view .gallery-messages-overview img { padding-left:1px; }
#apps #safari .row-hero img { width:875px; margin:0 -82px; _position:relative; _z-index:1; }
#apps #safari figure { width:100%; }

/* more apps and utilities */
#apps .more-apps { padding-bottom:40px; border-bottom:1px solid #ccc; }
.more-apps h2 { margin-bottom:20px; }
.grid3col .app-list { width:300px; margin-right:26px; margin-left:0; }
.grid3col .app-list.last { margin-right:20px; }
.app-list li { min-height:70px; display:block; }
.app-list .icon { display:block; float:left; width:40px; height:40px; background:url(../../../../osx/apps/images/moreapps_sprite.jpg) no-repeat; }
.app-list h4 { font-size:1em; line-height:1.2; color:#333; margin:0 0 0 50px; padding-top:8px; }
.app-list p { font-size:0.85em; color:#404040; margin:0 0 0 50px; }

/* column 1 */
.app-list .icon.activity-monitor { background-position:0 0; }
.app-list .icon.airport-utility { background-position:0 -40px; }
.app-list .icon.applescript-editor { background-position:0 -80px; }
.app-list .icon.audio-midi { background-position:0 -120px; }
.app-list .icon.automator { background-position:0 -160px; }
.app-list .icon.bluetooth-file { background-position:0 -200px; }
.app-list .icon.calculator { background-position:0 -240px; }
.app-list .icon.chess { background-position:0 -280px; }
.app-list .icon.colorsync { background-position:0 -320px; }
.app-list .icon.console { background-position:0 -360px; }
.app-list .icon.dashboard { background-position:0 -400px; }

/* column 2 */
.app-list .icon.dictionary { background-position:-40px 0; }
.app-list .icon.digitalcolor { background-position:-40px -40px; }
.app-list .icon.disk-utility { background-position:-40px -80px; }
.app-list .icon.dvd-player { background-position:-40px -120px; }
.app-list .icon.font-book { background-position:-40px -160px; }
.app-list .icon.game-center { background-position:-40px -200px; }
.app-list .icon.grab { background-position:-40px -240px; }
.app-list .icon.grapher { background-position:-40px -280px; }
.app-list .icon.image-capture { background-position:-40px -320px; }
.app-list .icon.itunes { background-position:-40px -360px; }
.app-list .icon.keychain { background-position:-40px -400px; }

/* column 2 */
.app-list .icon.launchpad { background-position:-80px 0; }
.app-list .icon.migration { background-position:-80px -40px; }
.app-list .icon.mission-control { background-position:-80px -80px; }
.app-list .icon.network-utility { background-position:-80px -120px; }
.app-list .icon.notes { background-position:-80px -160px; }
.app-list .icon.preview { background-position:-80px -200px; }
.app-list .icon.quicktime { background-position:-80px -240px; }
.app-list .icon.raid-utility { background-position:-80px -280px; }
.app-list .icon.stickies { background-position:-80px -320px; }
.app-list .icon.preferences { background-position:-80px -360px; }
.app-list .icon.text-edit { background-position:-80px -400px; }

/* ilife & iwork promo */
#apps .row.ilife-iwork { padding-bottom:40px; }
.ilife-iwork .hero { margin:23px 0 18px; }
#main .ilife-iwork figcaption.center { margin:0 90px; font-size:1em; line-height:1.6; color:#404040; }
