/* nav hero-search */
@-moz-document url-prefix() { #overview .nav.hero-search .column { line-height:29px; } }
.retail .nav.hero-search .column.last a { font-size:0.85em; }
.retail .nav.hero-search .global-retail-search { width:310px; margin-left:10px; }

.retail-locator-container .spinner { visibility:hidden; opacity:0; position:absolute; width:86px; height:58px; top:204px; left:50%; margin-left:-43px; padding:25px 0 0 0; border-radius:10px; text-align:center; background:#000; -webkit-transition:opacity 0.6s ease; -moz-transition:opacity 0.7s ease; transition:opacity 0.7s ease; z-index:9999; }

.retailLocatorView .map-container { margin-left:-191px; margin-top:-285px; _width:455px; _display:block; -webkit-animation-duration:435ms; -webkit-transition:ease-in-out; -webkit-transform-origin:37% 100%;
	-webkit-box-shadow:3px 0px 6px -3px rgba(0, 0, 0, 0.4); -moz-box-shadow:3px 0px 6px -3px rgba(0, 0, 0, 0.4); box-shadow:3px 0px 6px -3px rgba(0, 0, 0, 0.4);
}
.retailLocatorView .map-container .close { _display:block; }

.retailLocatorView .map-overlay-box { width:455px; height:100%; border:none; padding:0; background:none; filter:alpha(opacity=100);
	-webkit-box-shadow:-3px 0px 6px -3px rgba(0, 0, 0, 0.4); -moz-box-shadow:-3px 0px 6px -3px rgba(0, 0, 0, 0.4); box-shadow:-3px 0px 6px -3px rgba(0, 0, 0, 0.4);
}
.retailLocatorView .map-overlay-box .store-info,
.retailLocatorView .map-overlay-box .did-you-know { padding:15px 5px 10px 15px; background:rgb(255,255,255); background:rgba(255,255,255,0.85); *filter:alpha(opacity=85); _filter:alpha(opacity=97); *zoom:1; }
.retailLocatorView .map-overlay-box .did-you-know { -webkit-box-shadow:0 -2px 0px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 -2px 0px 0px rgba(0, 0, 0, 0.2); box-shadow:0 -2px 0px 0px rgba(0, 0, 0, 0.2); }
.retailLocatorView .map-overlay-box .notch { width:452px; left:3px; background-image:url(../images/notch-wide.png); background-position:0 0; _behavior:url(/global/scripts/lib/ie7pngfix.htc); }
.retailLocatorView .map-overlay-box .did-you-know:hover .notch { background-position:0 -37px; _background-position:0 0; }
.retailLocatorView .map-overlay-box .column.last { width:63%; }
.retailLocatorView .map-overlay-box h1 { margin-bottom:5px; font-size:14px; line-height:18px; color:#0B739C; }
.retailLocatorView .map-overlay-box h2 { width:100%; margin-bottom:6px; font-size:14px; line-height:19px; font-weight:normal; }
.retailLocatorView .map-overlay-box a.more { font-size:13px; }
.retailLocatorView .map-overlay-box .store-info { overflow:hidden; display:block; text-decoration:none;s }
.retailLocatorView .map-overlay-box .did-you-know { display:block; text-decoration:none; clear:both; margin-top:3px; padding:13px 20px 15px 100px; font-size:13px; background:url(../images/personal_pickup_icon.png) no-repeat 25px 14px; _background-image:url(http://images.apple.com/v/retail/c/images/personal_pickup_icon.jpg); background-color:rgb(255,255,255); background-color:rgba(255,255,255,0.85); *filter:alpha(opacity=85); _filter:alpha(opacity=97); }
.retailLocatorView .map-overlay-box .store-info:hover span.more,
.retailLocatorView .map-overlay-box .did-you-know:hover span.more { text-decoration:underline; }
.retailLocatorView .map-overlay-box .store-info:hover,
.retailLocatorView .map-overlay-box .did-you-know:hover { cursor:pointer; background-color:rgba(255,255,255,0.97); *filter:alpha(opacity=97); }
.retailLocatorView .map-overlay-box .did-you-know h1 { margin-bottom:3px; font-size:13px; color:#000; }
.retailLocatorView .map-overlay-box .did-you-know p { margin-bottom:0; color:#333; }

.retailLocatorView { width:980px; height:490px; }
.retailLocatorView .listViewContainer { position:relative; z-index:1006; height:454px; width:33%; box-shadow:1px 0 3px #CCC; }
.retailLocatorView .listViewContainer .listView { position:relative; z-index:2010; height:454px; overflow:hidden; -webkit-perspective:800; border-bottom-left-radius:5px; box-shadow:inset rgba(255, 255, 255, 0.3) 0 1px 3px; -webkit-backface-visibility:hidden; background-color:#F2F2F2; *border-left:1px solid #ccc; *border-right:1px solid #ccc; -webkit-touch-callout:none; -webkit-tap-highlight-color: rgba(0,0,0,0) }
.retailLocatorView .listViewContainer .listView li { cursor:pointer; position:relative; z-index:2015; padding:12px 55px 9px 20px; *padding-top:10px; _padding-top:12px; border-top:1px solid #fff; border-bottom:1px solid #dbdbdb; background-color:#efefef; background-repeat:no-repeat; background-position:90% center; -webkit-backface-visibility:hidden; }
.retailLocatorView .listViewContainer .listView li:first-child { border-top:0; }
.retailLocatorView .listViewContainer .listView li:hover { background-color:#fefefe; }
.retailLocatorView .listViewContainer .listView li address { color:#333; line-height:17px; }
.retailLocatorView .listViewContainer .listView li h1 { margin:0; line-height:16px; font-size:12px; }
.retailLocatorView .listViewContainer .listView li address div,
.retailLocatorView .listViewContainer .listView li h1 { white-space:nowrap; text-overflow:ellipsis; overflow:hidden; _width:100%; }
.retailLocatorView .listViewContainer ul.listView li.active { background-color:#cfe2eb; }
.retailLocatorView .listViewContainer .listView li.default { padding:21px 0 33px; text-align:center; }
.retailLocatorView .listViewContainer .listView li.default h1 { font-size:12px; margin:0; line-height:17px; }
.retailLocatorView .listViewContainer .listView li.default:hover { cursor:default; background-color:#efefef; }
.retailLocatorView .listViewContainer .nav { height:18px; padding:9px 18px; border-radius:0 0 0 5px; box-shadow:inset 0 0 14px 0 #444, 1px 0 3px #CCC; background-color:#6b6b6b; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7c7c7c), to(#484848));  background:-moz-linear-gradient(top, #7c7c7c 0%, #484848 100%); }
.retailLocatorView .listViewContainer .nav .navi { font-size:14px; color:#fff; text-shadow:#111 0px 0px 4px; }
.retailLocatorView .listViewContainer .nav .navi.next { position:absolute; right:18px; z-index:5; }

.retailLocatorView .mapView { width:67%; height:100%; z-index:1005; *height:490px; *width:655px; *border-bottom:1px solid #ccc; *border-right:1px solid #ccc;*overflow:hidden; }

@media only screen and (max-device-width:768px) {
.retailLocatorView .listViewContainer ul.listView li:active { background-color:#fefefe; }
.retailLocatorView .listViewContainer .listView li:hover { background-color:inherit; }
.retailLocatorView .listViewContainer .nav .navi { font-size:16px; line-height:16px; }
.retailLocatorView .map-overlay-box .store-info:hover span.more,
.retailLocatorView .map-overlay-box .did-you-know:hover span.more { text-decoration:none; }
.retailLocatorView .map-overlay-box .store-info:hover,
.retailLocatorView .map-overlay-box .did-you-know:hover { background-color:rgba(255,255,255,0.75); }
.retailLocatorView .map-overlay-box .did-you-know:hover .notch { background-position:0 0; }
.retailLocatorView .map-overlay-box .store-info,
.retailLocatorView .map-overlay-box .did-you-know { background-color:rgba(255,255,255,0.73); }
}

@-webkit-keyframes fade {
0% {
	-webkit-transform:translate3d(0, 0, -30px);
	opacity:0;
}
50% {
	opacity:1;
}
100% {
	-webkit-transform:translate3d(0, 0, 0);
	opacity:1;
}
}