/* Site-wide Styles
------------------------*/
html { background:#fff; width:100%; height:100%; }
body { min-height:100%; width:100%; background:#fff; color:#404040; }
#globalfooter { clear:both; }

#main { width:100%; min-width:980px; margin:0 auto 18px; padding:0 0 30px; overflow-x:hidden; overflow-y:auto; }

.main:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; }

/* fonts */
.main { font-size:1.3333em; line-height:1.6875em; word-spacing:-1px; color:#404040; } /* 16px/27px */

.main h1 { font-size:1.7142em; line-height:1.1666em; margin-bottom:7px; font-weight:normal; } /* 24px/28px */
.main h2 { font-size:1.2857em; line-height:1.3888em; margin-bottom:7px; } /* 18px/25px */
.main h3	{ font-size:1.1428em; line-height:1.25em; margin-bottom:7px; }/* 16px/20px */
.main h4 { font-size:1em; margin-bottom:7px; } /* 14px/20px */

.main h1 img,
.main h2 img { display:block; margin:0; }

.main p { margin-bottom:10px; }

.main .title,
.main .title h1,
.main .title h2 { line-height:1.2142em; font-weight:normal; }

.main .title { font-size:2em; margin-bottom:10px; }
.main .title h1,
.main .title h2 { font-size:1em; margin-bottom:0; }
.main .title h2 { color:#898989; }
.main .small { font-size:.7571em; line-height:1.5em; } /* 12px/18px */
.main .intro { line-height:1.6875em; color:#404040; font-weight:normal; } /* 16px/27px */

.main .caption { color:#666; }

.main .hero h1 { margin-bottom:2px; }

body.specs #main { font-size:1em; line-height:1.4286em; }

/* layout */
.main .row { padding-top:50px; padding-bottom:32px; }
.main .section, .section { width:980px; margin:0 auto; }

.main .column { *display:inline; }

.main .block { display:block; }
.main .inline { display:inline; }
.main .left { float:left; }
.main .right { float:right; }
.main .center { display:block; margin-right:auto; margin-left:auto; text-align:center; }

.main .flushpad { }

.main .flushpad,
.main .padright { padding-right:120px; }

.main .flushpad,
.main .padleft { padding-left:120px; }

.main .flushpad,
.main .flushright { margin-right:-120px; }

.main .flushpad,
.main .flushleft { margin-left:-120px; }

.main .flushtop,
.main .flushbottom,
.main .flushright,
.main .flushleft,
.main .relative { *position:relative; *z-index:1; *zoom:1; }

/* links */
.main a { cursor:pointer; }
.main a.block { color:#000; }
.main a.wrap { text-decoration:none; }
.main a.wrap:hover span { text-decoration:underline; cursor:pointer; }

.main .more.font-16 { padding-right:.7em; background-position:100% 55%; *background-position:100% 62%; background-image:url(../images/more_16.png); background-size:6px 11px; }
.main .more.font-14 { padding-right:.7em; background-position:100% 55%; *background-position:100% 62%; background-image:url(../images/more_14.png); background-size:5px 9px; }
.main .more.font-11 { padding-right:.7em; background-position:100% 55%; *background-position:100% 62%; background-image:url(../images/more_10.png); background-size:4px 7px; }
@media only screen {
	.main .more.font-16,
	.main .more.font-14 { background-image:url(http://images.apple.com/v/itunes/d/images/more.svg); }
	.main .more.font-11 { background-image:url(http://images.apple.com/v/itunes/d/images/more.svg); background-size:5px 7px; }
}


/* aesthetic */
.main .shadow { border:1px solid #ccc; -webkit-box-shadow:0 1px 4px rgba(0,0,0,.4); -moz-box-shadow:0 1px 4px rgba(0,0,0,.4); box-shadow:0 1px 4px rgba(0,0,0,.4); }
.main .inset { border:1px solid #ccc; -webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,.4); -moz-box-shadow:inset 0 1px 4px rgba(0,0,0,.4); box-shadow:inset 0 1px 4px rgba(0,0,0,.4); }

.main .shadow:nth-child(1n),
.main .inset:nth-child(1n) { border:none; }

.main .gradient {
	background:#f2f2f2;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
	background:-moz-linear-gradient(top, #fff, #f2f2f2);
}

/* dividers */
.divider { margin-left:-70px; margin-right:-70px; padding-left:70px; padding-right:70px; background-repeat:no-repeat; background-position:50% 0; }
.divider.line { height:1px; background-image:url(../images/divider_line.png); }
.divider.down { height:62px; margin-bottom:-62px; background-image:url(../images/divider_down.png); }
.divider.up { height:62px; margin-top:-62px; background-image:url(../images/divider_up.png); background-position: 50% 100%; }

/* galleries */
.gallery-video .gallery-content .close { overflow:hidden; position:absolute; top:0; left:0; width:29px; height:29px; text-indent:-9999px; z-index:1; -webkit-transform:translateZ(0); background:url(../../c/images/button_close.png) no-repeat; _behavior:url(/global/scripts/lib/iepngfix.htc); }

/* paddlenav */
.main .paddle-nav { z-index:1002; }
.main .paddle-nav li { text-indent:-99999px; }
.main .paddle-nav li .arrow { display:block; position:absolute; z-index:1012; top:0; width:68px; height:100%; padding:0 23px; outline:none; opacity:0; cursor:pointer; *background-image:url(../../../../global/elements/blank.gif);
	-webkit-transition:opacity 0.25s ease-out;
	   -moz-transition:opacity 0.25s ease-out;
	        transition:opacity 0.25s ease-out;
}
.main:hover .paddle-nav li .arrow { opacity:0.85; }
.main .paddle-nav li .arrow.disabled { display:none; }
.main .paddle-nav li .arrow b { display:block; margin-top:0; width:68px; height:131px; padding:0; background-repeat:no-repeat; background-position:50% 50%; behavior:url(http://images.apple.com/global/scripts/lib/ie7pngfix.htc); -webkit-transform:translateZ(0); }
.main .paddle-nav li .arrow.prev { left:0; padding-right:70px; }
.main .paddle-nav li .arrow.prev b { float:left; background-image:url(../images/paddle_prev.png); background-size:68px 131px; }
.main .paddle-nav li .arrow.next { right:0; padding-left:70px; }
.main .paddle-nav li .arrow.next b { float:right; background-image:url(../images/paddle_next.png); background-size:68px 131px; }

/* paddle nav adjustment for iPad and iPhone */
@media only screen and (max-device-width:768px) {
	.main .paddle-nav li .arrow { display:none; }
}
/* paddle nav adjustment for Large Desktop */
@media only screen and (min-width:1240px) {
	.main .paddle-nav li .arrow { background:transparent; }
	.main .paddle-nav li .arrow.prev { margin-left:-65px; }
	.main .paddle-nav li .arrow.next { margin-right:-65px; }
}
/* dot-nav */
.main .dot-nav li { margin:0 8px; }
.main .dot-nav li a { top:2px; *top:0; left:2px; *left:0; width:4px; *width:8px; height:4px; *height:8px; background:#949494; border:2px solid transparent; *border-color:#949494; outline:none; }
.main .dot-nav li a:hover { top:2px; *top:0; background:#bebebe; *border-color:#bebebe; }
.main .dot-nav li a.active { top:0; left:0; width:8px; height:8px; border:2px solid #08c; background:transparent; }

.main .dot-nav:nth-child(1n) li { width:12px; height:12px; }
.main .dot-nav:nth-child(1n) li a {
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
	        border-radius:50%;
}
.main .dot-nav:nth-child(1n) li a.active {
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
}

/* outer dot nav */
.main .gallery .outer-dot-nav { position:relative; z-index:1012; left:0; width:100%; margin:auto; padding:0; bottom:0; text-align:center; line-height:1px; }
.main .gallery .outer-dot-nav li,
.main .gallery .outer-dot-nav li a { display:-moz-inline-stack; display:inline-block; *display:inline; zoom:1; }
.main .gallery .outer-dot-nav li { position:relative; z-index:1; margin:0 8px; width:12px; height:24px; padding:0; line-height:0; }
.main .gallery .outer-dot-nav li a { position:absolute; z-index:1; top:10px; left:2px; width:8px; height:8px; background:#bebebe; outline:none; text-indent:-99999px; cursor:default;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
	        border-radius:50%;
}
.main .gallery .outer-dot-nav li a:hover { cursor:pointer; background:#666; }
.main .gallery .outer-dot-nav li a.active { cursor:default; top:8px; left:0; width:10px; height:10px; border:1px solid #08c; background-color:transparent; }

.video-thumb { float:left; }
.video-thumb i { display:block; position:relative; z-index:1; margin:0 auto 5px; width:92px; height:auto; border:1px solid #ccc; }
.video-thumb i .play { display:block; position:absolute; top:12px; left:30px; width:37px; height:37px; opacity:.75; background:url(../../c/images/video_play.png) 0 0 no-repeat; }

.video-thumb:hover i .play { opacity:1; }
.video-thumb .link,
.video-thumb:hover .link { color:#333; text-decoration:none; }

.video-thumb i.medium { width:126px; }
.video-thumb i.medium .play { top:18px; left:42px; width:44px; height:44px; }
.video-thumb i.medium img { border-width:5px; }

.video-thumb i img { display:block; margin:0; border:5px solid #fff; }
.video-thumb i.curved-up:nth-child(1n) { border:none; border-radius:0 0 6px 6px; box-shadow:rgba(0,0,0,.2) 0 4px 2px; }
.video-thumb i.curved-up:nth-child(1n) img { box-shadow:rgba(0,0,0,.45) 0 1px 4px;}
.video-thumb i.curved-up:nth-child(1n):after { content:""; display:block; position:absolute; z-index:1; left:0; bottom:-8px; width:100%; height:5px; background:#fff; border-radius:100% 100% 0% 0% / 200% 200% 0% 0%; box-shadow:#fff 0 -1px 1px; }

/* product header */
#productheader { border-bottom:1px solid #ced0d5; }
#productheader h2 a { text-indent:0; _display:inline; _zoom:1 }
#productheader li a { text-shadow:#fff 0 1px 0; }
#productheader ul li a { margin-left:24px; }

.overview #pn-overview a,
.features   #pn-features a,
.whatson  #pn-whatson a,
.charts   #pn-charts a { color:#999 !important; cursor:default; }


/* Footers
------------------------*/
/* sosumi */
.sosumi { width:940px; margin:18px auto; padding:0 20px; }
.sosumi a { color:#333; }
.sosumi a.movie { font-weight:bold; font-style:italic; }
.sosumi ol { margin:0; padding-right:21px; padding-left:15px; }
.sosumi ul { margin:0; }
.sosumi li { padding-bottom:5px; }
.sosumi p { margin:0; padding-bottom:5px; }
ol.sosumi { width:898px; margin:18px auto; }

/* Page Specific
------------------------*/
