#creativity-apps.mac .up-to-date { padding-bottom:16px; }
#creativity-apps.mac .up-to-date .app-icons { height:77px; overflow:hidden; display:inline-block; margin:9px 0 4px; }
#creativity-apps.mac .up-to-date .app-icons img { float:left; }
#creativity-apps.mac .up-to-date .icon-pages { margin-right:-7px; }
#creativity-apps.mac .up-to-date .icon-numbers { margin-right:-11px; }
#creativity-apps.mac .up-to-date p { width:700px; }
