/* responsive height/width */
.globalnav-wrapper { position:absolute; z-index:9998; top:0; left:50%; margin:18px 0 0 -512px; width:1024px; }
#globalheader { margin:0 auto; }

html, body { min-width:1024px; height:100%; min-height:910px; background:#fff; }
body { position:relative; z-index:1; }
#billboard { position:absolute; z-index:1; left:0; top:0; bottom:349px; right:0; overflow:hidden; }
#billboard .hero { margin:0 auto; width:1024px; height:100%; }


/* promos */
.promos { position:absolute; z-index:1; width:100%; height:200px; bottom:90px; overflow:hidden; }
.promos ul { margin:0 auto; width:100%; min-width:1024px; max-width:1440px; height:200px; overflow:hidden; text-align:center; }
.promos ul li { float:left; position:relative; z-index:1; margin:0; width:25%; height:200px; overflow:hidden; }
.promos ul li.last-child { width:25.3%; margin-right:-.6%; }

.promos ul li a { display:block; position:absolute; z-index:1; top:0; left:0; bottom:0; right:0; overflow:hidden; border-right:2px solid #fff; cursor:pointer; }
.promos ul li.last-child a { border-right:none; }

.promos ul li a img { position:absolute; z-index:1; left:50%; margin-left:-182px; }
.promos ul li a img.wide { display:none; }


.promos ul li a.left img { left:0; }
.promos ul li a.right img { left:auto; right:0; }


@media only screen and (min-width:1200px) {
	.promos ul li a img.narrow { display:none; }
	.promos ul li a img.wide { display:block; }
}


/* homefooter */
#homefooter { position:absolute; z-index:1; left:0; right:0; bottom:0; margin:0; width:100%; min-width:980px; padding:0; text-align:center; font-size:.8334em; line-height:1.2; color:#6e6e6e; background:#fff; zoom:1; }
#homefooter .wrapper { margin:0 auto; width:980px; padding:1em 0 2.6em; }
#homefooter .wrapper:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; }

#homefooter .left { float:left; clear:both; width:49%; padding-top:1.5em; text-align:left; }
#homefooter .right { float:right; width:51%; padding-top:1.5em; text-align:right; }

#homefooter p,
#homefooter ul,
#homefooter ul li { display:inline; margin:0; }

#homefooter .piped li { float:none; display:inline-block; *display:inline; margin-left:.6em; padding-left:.6em; border-left:1px solid #ccc; }
#homefooter .piped li.first { margin-left:0; padding-left:0; border-left:none; }
#homefooter .piped a { display:inline-block; margin:0; padding:0; border:none; }

#homefooter .piped .worldwide { position:relative; z-index:1; width:16px; height:12px; zoom:1; }
#homefooter .piped .worldwide img { position:absolute; z-index:1; top:-2px; left:7px; }
