/* General
------------------------*/
html, body { background:#fff; }
body { min-width:1024px; }

#main { position:static; width:100%; margin:0 auto; font-size:14px; line-height:1.5714; overflow:hidden; }
#main:after { clear:both; display:block; visibility:hidden; height:0; content:'.'; }
@media only screen and (max-width:1166px) {
	#main { overflow:hidden; }
}

/* typography */
.main { font-size:1.167em; line-height:1.5714; } /* 14px/22px */
.main h1 { margin-bottom:10px; font-size:1.7142em; line-height:1.1666; font-weight:normal;  }
.main h2 { margin-bottom:7px; font-size:1.2857em; line-height:1.3888; }
.main h3 { margin-bottom:7px; font-size:1.1428em; line-height:1.25; }
.main h4 { margin-bottom:7px; font-size:1em; } 
.main h1 img,
.main h2 img { display:block; margin:0; }
.main .intro { color:#888; font-size:1.2857em; line-height:1.3888; font-weight:normal; }

.main .row p,
.main h1,
.main h2,
.main h3,
.main h4 { color:#404040; line-height:1.3; } 

.main .row p { line-height:1.8; }

/* layout */
.main .row { padding-top:10px; padding-bottom:38px; }

.main .column { *display:inline; }

.main .block { display:block; }
.main .inline { display:inline; }
.main .left { float:left; }
.main .right { float:right; }
.main .center { display:block; margin-right:auto; margin-left:auto; text-align:center; }
.main .relative { *position:relative; *z-index:1; *zoom:1; }

/* links */
.main a { cursor:pointer; }
.main a.block { color:#000; }
.main a.wrap { text-decoration:none; }
.main a.wrap:hover span { text-decoration:underline; cursor:pointer; }



.main .buynows { height:20px; padding: 1px 4px 0px; *padding:0 4px 4px; font-size:12px; text-align:center; text-indent:0; text-decoration:none; border:1px solid #08c; background:none; background-position:0 0; border-radius:2px; background-size:5px 9px; background-repeat: no-repeat; }
.main .buynows:hover { background-color:#08c; color:#FFF; }

a.more, em.more, span.more { display:inline-block; padding-right:.7em; line-height:1.71; background-image:url(../images/more_14.png); background-position:100% 59%; background-size:5px 9px; }
/* 0088CC*/
@media only screen {
	a.more,em.more, span.more { background-image:url(http://images.apple.com/v/product-red/b/images/more.svg); }
}


/* Footers
------------------------*/
/* sosumi */
.sosumi { margin:18px auto; width:940px; padding:0 20px; }
.sosumi a { color:#333; }
.sosumi ol { margin:0; padding-right:21px; padding-left:21px; }
.sosumi ul { margin:0; }
.sosumi li { padding-bottom:5px; }
.sosumi small { font-size:1em; }


/* Specific
------------------------*/
body#red .header { width:980px; margin:0 auto; padding-top:40px; }
body#red .header .intro { margin-bottom:39px; width:60%; margin-top:-9px; }
body#red .header img.hero { margin:0 -70px 7px; display:block; }

body#red .row { margin:0 auto; width:980px; }

body#red .grid3col .column { margin:0; width:265px; text-align:center; }
body#red .grid3col .first { width:350px; }
body#red .grid3col .last { width:365px; }

body#red .grid3col h4 { margin-top:-18px; margin-bottom:0; }
body#red .grid3col .column img.product-name { margin-top:-24px; margin-bottom:-7px; }

body#red .grid3col .column .buynows { margin-top:30px; }
body#red .grid3col .column .buynows.learn { margin-top:7px; }

body#red .globalfund { margin:0 auto; width:690px; padding:31px 145px 35px; border-bottom:1px solid #e5e5e5; }
body#red .globalfund a { color:#ff0000; }

